<%- include('inc/head') %>
  </head>

  <body>

    <%- include('inc/header')%>
      <!-- End Header -->

      <main id="main">

        <%- include('inc/breadcrumb', {headTitle: 'Biz barada' , subTitle: 'Barada' })%>
          <!-- End Breadcrumbs -->

          <section class="inner-page">
            <div class="container"> </div>
          </section>

      </main><!-- End #main -->

      <%- include('inc/foot')%>
        <!-- End Footer -->

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

        <%- include('inc/scripts')%>

  </body>

  </html>