<%- include('inc/head') %>
  </head>

  <body>

    <%- include('inc/header')%>
      <!-- End Header -->

      <%- include('inc/hero')%>
        <!-- End Hero -->

        <main id="main">

          <%- include('section/featured-service')%>
            <!-- End Featured Services Section -->

            <%- include('section/service')%>
              <!-- End Services Section -->

              <%- include('section/count')%>
                <!-- End Counts Section -->

                <%- include('section/testimonial')%>
                  <!-- End Testimonials Section -->

                  <%- include('section/cta')%>
                    <!-- End Cta Section -->

                    <%- include('section/team')%>
                      <!-- End Team Section -->

                      <%- include('section/contact')%>
                        <!-- End Contact Section -->

        </main>
        <!-- End #main -->

        <%- include('inc/foot')%>
          <!-- End Footer -->

          <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
              class="bi bi-arrow-up-short"></i></a>

          <%- include('inc/scripts')%>

  </body>

  </html>