<%- include('includes/head.ejs') %>
    </head>

    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">

            <%- include('includes/sidebar.ejs')%>
                <!-- End of Sidebar -->

                <%- include('contents/c_ulanyjylar')%>
                    <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <%- include('modals/logout.ejs')%>
            <!-- Logout Modal -->

            <%- include('includes/scripts')%>
                <!-- Overall site js scripts -->

                <!-- Page level plugins -->
                <script src="vendor/charts/Chart.min.js"></script>

                <!-- Page level custom scripts -->
                <script src="js/demo/dt-users.js"></script>
                <script src="js/demo/area-ch-users.js"></script>
                <script src="js/demo/pie-ch-users.js"></script>
    </body>

    </html>