<!DOCTYPE html>
<html lang="en">

<%- include('includes/head.ejs') %>

    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">

            <%- include('includes/sidebar.ejs')%>
                <!-- End of Sidebar -->

                <%- include('contents/c_ulanyjylar')%>
                    <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <%- include('includes/logout.ejs')%>
            <!-- Logout Modal -->

            <%- include('includes/scripts')%>
                <!-- Overall site js scripts -->
    </body>

</html>